[submodule "integrated"]
	path = integrated
	url = git@github.com:M100ika/milkwarden-integrated.git
	branch = main
[submodule "server"]
	path = server
	url = git@github.com:M100ika/milkwarden-server.git
	branch = main
[submodule "modeling3d"]
	path = modeling3d
	url = git@github.com:M100ika/milkwarden-modeling3d.git
	branch = main
[submodule "raspberry"]
	path = raspberry
	url = git@github.com:M100ika/milkwarden-raspberry.git
	branch = main
